.left{
  background-color: #33d7ff;
  position: fixed;
  top: 0;
  left: 0;
  height:100%;
  width: 50%;
}
.interface{
	text-align: center;
	padding: 20px;

}

.right{
 background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  height:100%;
  width: 50%;
}

a.button{
	display: inline-block;
	background-color: white;
	color: black;
	text-decoration: none;
	text-shadow: 5px;
	text-transform: uppercase;
	padding: 20px 40px;
	border: 2px solid orange;
	font-size: 20px;
	border-radius: 20px;
	transition: background-color:300ms;
}

a:hover{
	background-color: rgba(255, 153, 51);
}



.ground{
	background: url('../img/Desert.png') no-repeat center center;
	bottom: -50px;
	left: 0px;

	position: absolute;
	height: 50%;
	width: 100%;
}

.rocket {
	position: absolute;
	left: 30%;
	bottom: -15px;
    height: 50%;
    width: 50%;
    background: url('../img/r3.png') no-repeat 0 0;
    transition: bottom 10000ms;
}

body.body-state1 .rocket{
	transition: none;
}
body.body-state2 .rocket{
	background-image: url('../img/output_8JMsZX.gif');
}


body.body-state3 .rocket,
body.body-state4 .rocket{
	background-image: url('../img/output_6psTKQ.gif');
	bottom: 1000px;
}

body.body-state5 .rocket{
	background-image: url('../img/explosion.png');

}

.state1,
.state2,
.state3,
.state4,
.state5{
	display: none;
}

body.body-state1 .state1{display: block;}
body.body-state2 .state2{display: block;}
body.body-state3 .state3{display: block;}
body.body-state4 .state4{display: block;}
body.body-state5 .state5{display: block;}

a{

}

a.button{

}